@font-face {
    font-family: Montserrat-Black;
    src: url(../fonts/montserrat/Montserrat-Black.otf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/montserrat/Montserrat-Bold.otf);
}
@font-face {
    font-family: Montserrat-Hairline;
    src: url(../fonts/montserrat/Montserrat-Hairline.otf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/montserrat/Montserrat-Light.otf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/montserrat/Montserrat-Regular.otf);
}
@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/montserrat/Roboto-Black.otf);
}

.header-1 {
    font-family: Montserrat-Light;
    font-size: 12px;

    i.fas.fa-tag {
        position: absolute;
        color: white;
        left: 22px;
        top: 7px;
    }

    i.fa {
        font-size: 20px;
        vertical-align: middle;
    }

    .d-flex {
        margin-top: 10px;
    }
}

.navbar {
    font-family: Montserrat-Regular;
    background: white !important;
    padding-left: 0;
    padding-right: 0;
}

.section-1 {
    h1 {
        font-family: Montserrat-Bold;
        margin-bottom: 15px;
    }
    h4 {
        font-family: Montserrat-Light;
        color: #5c5c5c;
        margin-bottom: 20px;
    }
    p {
        font-family: Montserrat-Light;
        color: #7f7f7f;
        margin-bottom: 10px;
    }
}

.section-2 {
    font-family: Montserrat-Light;
    color: #7f7f7f;

    .icon-wrapper {
        line-height: 150px;
        height: 150px;
        padding: 0 20px;
        margin-bottom: 10px;

        img {
            max-height: 100%;
        }
    }
}

.section-3 {
    h2 {
        font-family: Montserrat-Bold;
        margin-top: 90px;
    }
    h3 {
        font-family: Montserrat-Light;
        margin-bottom: 70px;
        color: #676767;
    }

    @media (min-width: 576px) {
        .col-md-3 {
            padding: 0;
        }
    }
    .col-md-3 {
        margin-bottom: 20px;
    }

    h4.title {
        font-family: Montserrat-Bold;
        border-bottom: solid 1px #ebe8e8;
        padding: 10px 0;
        margin-bottom: 0;
        color: #4c4c4c;
    }

    .price {
        padding: 10px 0;

        .old-price {
            text-decoration: line-through;
            color: #4c4c4c;
            font-family: Montserrat-Light;
            margin-bottom: 0;
        }

        .new-price {
            margin-bottom: 0;
            span {
                font-family: Montserrat-Bold;
                font-size: 50px;
                color: #4c4c4c;
            }
            sup {
                top: -20px;
            }
            .sup1,
            .sup3 {
                font-family: Montserrat-Light;
                color: #616161;
            }
            .sup2 {
                font-family: Montserrat-Bold;
                color: #4c4c4c;
            }
        }
    }

    .users,
    .description {
        font-family: Montserrat-Light;
        padding: 10px 0;
        border-top: solid 1px #ebe8e8;
        font-size: 14px;
    }

    .description {
        ul {
            margin: 15px auto;
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 8px;
            }
        }
    }

    .btn {
        font-family: Montserrat-Bold;
        border-radius: 50px;
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 30px;
        border-width: 2px;
    }

    .best-seller {
        z-index: 10 !important;

        .title,
        .price {
            color: white !important;
            background: #008fee;
        }
        .title {
            border-bottom: solid 1px #008fee;
        }
        .price {
            .old-price {
                color: #f1f8fe !important;
            }

            .new-price {
                span,
                .sup1,
                .sup2,
                .sup3 {
                    color: white !important;
                }
            }
        }
        .users {
            color: white !important;
            background: #007fde;
        }
        .users,
        .description {
            border-top: solid 1px #007fde;
        }

        .btn {
            font-family: Montserrat-Bold;
            border-radius: 50px;
            font-weight: bold;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 30px;
            border-width: 2px;
        }
    }

    .wrap {
        width: 100%;
        height: 188px;
        position: absolute;
        top: -8px;
        right: 8px;
        overflow: hidden;

        &:before,
        &:after {
            content: "";
            position: absolute;
            background: #007330;
        }
        &:before {
            width: 40px;
            height: 8px;
            left: 70px;
            border-radius: 8px 8px 0px 0px;
        }
        &:after {
            width: 8px;
            height: 40px;
            left: 0px;
            top: 70px;
            border-radius: 8px 0px 0px 8px;
        }

        .ribbon {
            box-shadow: 0 0 0 3px #00b359, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
            background: #00b359;
        }
        .ribbon {
            color: white;
            width: 170px;
            height: 40px;
            line-height: 40px;
            position: absolute;
            top: 15px;
            left: -50px;
            z-index: 2;
            overflow: hidden;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            border: 1px dashed;
            text-align: center;
        }
    }

    .bayi {
        border: solid 1px #ebe8e8;
    }
    .pelajar {
        border: solid 1px #ebe8e8;
        margin-left: -1px;
    }
    .personal {
        border: solid 1px #4dabf3;
        margin-left: -1px;
    }
    .bisnis {
        border: solid 1px #ebe8e8;
        margin-left: -1px;
    }
}

.section-4 {
    font-family: Montserrat-Light;

    h2 {
        margin-bottom: 30px;
    }
}

.section-5 {
    h2 {
        font-family: Montserrat-Light;
    }

    .col-md-4 {
        margin-bottom: 20px;

        h4 {
            font-family: Montserrat-Bold;
            margin-top: 15px;
            margin-bottom: 5px;
            font-size: 20px;
        }
        p {
            font-family: Montserrat-Light;
        }
    }
}

.section-6 {
    font-family: Montserrat-Light;

    .first-p {
        color: #696969;
    }

    .p-list {
        font-size: 14px;
    }

    .p-small {
        margin: 20px 0;
        font-size: 12px;
    }

    .btn {
        border-radius: 50px;
        font-family: Montserrat-Bold;
        padding: 10px 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.section-7 {
    font-family: Montserrat-Light;
    h2 {
        margin-bottom: 50px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            color: #4f4f4f;
        }
    }

    .btn {
        border-radius: 50px;
        font-family: Montserrat-Bold;
        padding: 10px 40px;
        margin-top: 40px;
        border-width: 2px;
    }
}

.section-8 {
    font-family: Montserrat-Light;
    h2 {
        margin-bottom: 20px;
    }
    p {
        color: #4f4f4f;
    }

    .btn {
        border-radius: 50px;
        font-family: Montserrat-Bold;
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .img-wrapper {
        position: relative;

        @media (min-width: 768px) {
            img {
                position: absolute;
                bottom: 0;
            }
        }
    }
}

.section-9 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f7f7f7;

    p {
        margin: 0;
        font-family: Montserrat-Regular;
        color: #4f4f4f;
        line-height: 41px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-right: 10px;
            font-family: Montserrat-Light;
            font-size: 14px;

            i.fab {
                font-size: 40px;
            }

            .likes {
                vertical-align: top;
                position: relative;
                background: transparent;
                border: solid 1px #d7d7d7;
                display: inline-block;
                margin-top: 3px;
                margin-left: 2px;
                padding: 5px 15px;
                border-radius: 4px;
                color: #adadb2;

                &:before {
                    content: "";
                    position: absolute;
                    left: -6px;
                    top: 32%;
                    border-right: 6px solid #d7d7d7;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                }

                &:after {
                    content: "";
                    position: absolute;
                    left: -4.5px;
                    top: 36%;
                    border-right: 5px solid #f7f7f7;
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                }
            }
        }
        li.facebook {
            color: #23599b;
        }
        li.twitter {
            color: #00aef2;
        }
        li.google-plus {
            color: #fd4a35;
        }
    }
}

.section-10 {
    background-color: #00a2f3;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Montserrat-Light;
    color: white;

    h2 {
        display: inline-block;
        vertical-align: top;
        line-height: 80px;
    }

    .pipeline {
        display: inline-block;
        width: 2px;
        height: 80px;
        background-color: #00b0fa;
        margin: 0 50px;
    }

    .btn {
        display: inline-block;
        border: solid 2px white;
        border-radius: 50px;
        color: white;
        padding: 5px 30px;
        font-size: 23px;
        vertical-align: top;
        margin-top: 20px;

        &:hover {
            background-color: white;
            color: #00a2f3;
        }
    }

    @media (max-width: 767px) {
        h2 {
            display: block;
            line-height: unset;
        }
        .pipeline {
            display: none;
        }
    }
}

.section-11 {
    background-color: #303030;
    padding: 70px 0 30px 0;
    font-family: Montserrat-Light;

    h4 {
        font-family: Montserrat-Regular;
        font-size: 16px;
        color: #8b8b8b;
        margin-bottom: 20px;
    }

    p {
        font-size: 14px;
        color: rgb(192, 191, 191);
        margin-bottom: 5px;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li > a {
            font-size: 14px;
            color: rgb(192, 191, 191);
        }
    }

    form {
        input {
            padding: 25px 12px;
            border-radius: 50px 0 0 50px;
            border-right: unset;
            &:focus {
                box-shadow: none;
            }
        }
        .input-group-text {
            background-color: white;
            border-radius: 0 50px 50px 0;
            padding: 0 5px;

            button {
                background-color: #00a2f3;
                border-color: #00a2f3;
                padding: 10px 5px;
                border-radius: 50px;
                font-size: 12px;
            }
        }

        p {
            font-size: 12px;
            color: #6b6b6b;
            margin: 0;
        }
    }

    ul.socmed {
        li {
            color: #d2d2d2;
            display: inline-block;

            a > div {
                text-align: center;
                padding: 15px;
                width: 56px;
                border: solid 2px #d2d2d2;
                border-radius: 50%;
                margin-right: 20px;
                margin-bottom: 20px;

                i {
                    font-size: 20px;
                }
            }
        }
    }

    ul.payments {
        li {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            margin-bottom: 10px;

            div {
                padding: 5px;
                border: solid 1px #b5b5b5;
                border-radius: 5px;
                width: 100px;
                height: 45px;
                text-align: center;

                img {
                    max-height: 100%;
                    margin: auto;
                }
            }
        }
    }

    p.ket-payment {
        font-size: 14px;
        color: #595959;
        margin-top: 20px;
    }

    .footer {
        color: rgb(192, 191, 191);
        p {
            font-size: 12px;
            margin-bottom: 5px;
        }
    }
}

.line {
    width: 100px;
    height: 5px;
    margin: 40px auto;
    background: #f0f0f0;
}

.bold {
    font-family: Montserrat-Bold;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
    background-color: white;
}
.table-striped > tbody > tr:nth-child(2n + 0) > td,
.table-striped > tbody > tr:nth-child(2n + 0) > th {
    background-color: #f7f7f7;
}
.table-bordered td,
.table-bordered th {
    border: unset;
}
.table-striped > tbody > tr > td:nth-child(1) {
    font-size: 20px;
}
